/* JUMBOTRON */

.jumbotron {
    justify-content: center;
    background-color: #78c2ad;
    color: #ffffff;
    margin-bottom: 0;
    max-width: 100em;
    margin-left: auto;
    margin-right: auto;
}

#jumboH1 {
    background-color: #78c2ad;
}

.jumbotron h1 {
    color: #ffffff;
}

#jumboP {
    font-style: italic;
}

/* MAIN CONTAINER FOR INPUT FORMS / MAP */

#mainCont {
  background-color: #ffffff;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 60px;
  max-width: 100em;
  width: 100%;
}

#map-area {
    text-align: center;
    height: 100%;
    width: 100%;
}

#map {
    width: 550px;
    height: 500px;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto 0 auto;
    border-style: solid;
    border-color: #78c2ad;
    border-width: 4px;
}

#userLocation {
    background-color: #ffffff;
    color: #5a5a5a;
    font-weight: 400;
    font-size: 25px;
}

#userGender {
    margin-left: 0;
}

/* CONTAINER FOR IMAGE CARDS / LOADING SCREEN */

#img-container {
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    max-width: 100em;
    width: 100%;
}

#img-container {
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    max-width: 100em;
    width: 100%;
    
}

img {
    margin-top: 40px;
    object-fit: cover;
    object-position: 100% 0;
    width: 250px;
    height: 250px;
    border-radius: 4px;
    border-style: solid;
    border-width: 2px;
    border-color: #78c2ad;
}
  
    
#loading {
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    max-width: 100em;
    width: 100%;
}

#loading {
    display: flex;
    justify-content: center;
    color: #888;
    font-size: 50px;
    background-color: #ffffff;
    padding-top: 200px;

}


#pics {
    justify-content: center;
    margin:80px;
    text-align: center;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    max-width: 100em;
    width: 100%;

}

#page {
    margin: 0 auto 0 auto;
    justify-content: center;
    opacity: inherit;
    color: #343a40;
    font-weight: bold;
}

#pagButtons {
    justify-content: center;
    display: flex;
    color: #ffffff;
}

.page-number {
    margin: 0 auto;
    padding: 0;
    width: 150px;
    height: 40px;
    color: #888;
    font-size: 16px;
    text-align: center;
}

/* CAROUSEL */

.carousel {
    /* any dimensions are fine, it can be responsive with max-width */
    width: 500px;
    height: 300px;
    margin: 0 auto;
}
  
.carousel-inner {
    /* make sure your .items will get correct height */
    height: 150%;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert(1);
}

  
.item {
    margin-top: 20px;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 100%;
}
  
  .item img {
    visibility: hidden;
}

/* IMAGE CARDS */

.card {
    display: inline-table;
    margin: 10px;
    width: 300px;
    height: 400px;
    background-color: #ffffff;
    border-style: solid;
    border-color: #78c2ad;
    border-width: 4px;
}

.card-info {
    display: block;
    font-size: 6px;
    color: #888;
}

.card:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }

.card {

    transition: 0.5s ease;
    cursor: pointer;
    margin:30px;
}

#info-name {
    font-weight: bold;
}


.yo {
    width: 200px;
    height: 200px;
    border-style: none;
}

.bookmark{
    color: #fff;
    background-color: #78c2ad;
    border-color: #78c2ad;
    font-weight: bold;
    margin-bottom: 10px;
}

/* FOOTER */

.footer {
    display: block;
    background-color: #56CC9D;
    color: #ffffff;
    font-weight: bold;
    margin-top: 5px;
    max-width: 100em;
    margin-left: auto;
    margin-right: auto;
}