.jumbotron {
    justify-content: center;
    background-color: #78c2ad;
    color: #ffffff;
}

.jumbotron h1 {
    color: #ffffff;
}

button {
    margin-top: 0px;

}

select {
    margin-bottom: 10px;
    margin-left: 10px;
}

img {
    margin: 5px;
}

#inputField {
    justify-content: center;
    padding-top: 50px;
}

#map-area {
    text-align: center;
    height: 100%;
    width: 100%;
}

#map {
    width: 550px;
    height: 500px;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto 0 auto;

  }

  #img-container {
      margin-top: 40px;
      border-color: #78c2ad;
      border-style: solid;
      border: 2px;
  }

  #pics{
      margin:80px;
      text-align: center;
  }

  #page{
      margin: 0 auto 0 auto;
      justify-content: center;
      opacity: inherit;
  }


  img{
  object-fit: cover;
  object-position: 100% 0;
  width: 200px;
  height: 200px;
}

.footer {
    display: flex;
    background-color: #78c2ad;
    color: #ffffff;
    margin-top: 5px;
   
}

#pagButtons {
    justify-content: center;
    display: flex;
    color: #ffffff;
}

#userLocation {
    background-color: #ffffff;
    color: #888;
}