.jumbotron {
    justify-content: center;
    background-color: #78c2ad;
    color: #ffffff;
    margin-bottom: 0;
    max-width: 100em;
    margin-left: auto;
    margin-right: auto;
}

.jumbotron h1 {
    color: #ffffff;
}

#mainCont {
  background-color: #ffffff;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 60px;
  max-width: 100em;
  width: 100%;
}

#img-Container {
background-color: #ffffff;
margin-left: auto;
margin-right: auto;
max-width: 100em;
width: 100%;
}

#loading {
background-color: #ffffff;
margin-left: auto;
margin-right: auto;
max-width: 100em;
width: 100%;
}

#map-area {
    text-align: center;
    height: 100%;
    width: 100%;
}

#map {
    width: 550px;
    height: 500px;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto 0 auto;
    border-style: solid;
    border-color: #78c2ad;
    border-width: 4px;
}

#img-container {
    
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    max-width: 100em;
    width: 100%;
    
}

#pics {
    justify-content: center;
    margin:80px;
    text-align: center;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    max-width: 100em;
    width: 100%;

}

#page {
    margin: 0 auto 0 auto;
    justify-content: center;
    opacity: inherit;
    color: #343a40;
    font-weight: bold;
}

img {
  margin-top: 40px;
  object-fit: cover;
  object-position: 100% 0;
  width: 250px;
  height: 250px;
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  border-color: #78c2ad;
}

.footer {
    display: block;
    background-color: #56CC9D;
    color: #ffffff;
    font-weight: bold;
    margin-top: 5px;
    max-width: 100em;
    margin-left: auto;
    margin-right: auto;
}

#pagButtons {
    justify-content: center;
    display: flex;
    color: #ffffff;
}

#userLocation {
    background-color: #ffffff;
    color: #5a5a5a;
    font-weight: 400;
    font-size: 25px;
}

#jumboH1 {
    background-color: #78c2ad;
}

#userGender{
    margin-left: 0;
}

.page-number {
    margin: 0 auto;
    padding: 0;
    width: 150px;
    height: 40px;
    color: #888;
    font-size: 16px;
    text-align: center;
}

#loading {
    display: flex;
    justify-content: center;
    color: #888;
    font-size: 50px;
    background-color: #ffffff;
    padding-top: 200px;

}

.card {
    display: inline-table;
    margin: 10px;
    width: 300px;
    height: 400px;
    background-color: #ffffff;
    border-style: solid;
    border-color: #78c2ad;
    border-width: 4px;
}

.card-info {
    display: block;
    font-size: 6px;
    color: #888;
}

#info-name {
    font-weight: bold;
}

.card:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }
  .card {

    transition: 0.5s ease;
    cursor: pointer;
    margin:30px;
  }

.yo {
    width: 200px;
    height: 200px;
    border-style: none;
}

.btn-dark{
    margin-bottom: 10px;
}
