

.container {
    margin: 15px;
    text-align: left;
}

button {
    margin-top: 15px;

}

select {
    margin-bottom: 10px;
    margin-left: 10px;
}

img {
    margin: 5px;
}

#map-area {
    text-align: center;
}